<div class="auth-container">
  <div class="row auth-main background-image">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section transparent">
      <div class="form-section">
        <div class="auth-wrapper border">
          <div class="text-center mb-5">
            <img width="160px" height="100px" src="assets/images/logo.png" alt="" />
          </div>
          <div class="text-center mb-5">
            <p class="text-muted text"> {{ "FORGOT_PASSWORD.INFO" | translate }} </p>
          </div>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  {{ "FORGOT_PASSWORD.ENTER_EMAIL" | translate }}
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label> {{ "FORGOT_PASSWORD.EMAIL" | translate }} </mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                    {{ "FORGOT_PASSWORD.EMAIL_VALID" | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                {{ "FORGOT_PASSWORD.RESET_BUTTON" | translate }}
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin" class="txt1">
                  {{ "FORGOT_PASSWORD.SIGN_IN" | translate }}
                </a>
              </div>
            </div>
          </form>
          <div class="mt-4">
            <button class="btn btn-default" style="cursor: pointer; color: white" (click)="translatePage('de')">
              <img src="../../../assets/images/flags/germany.jpg" width="20px" />
            </button>
            <button class="btn btn-default" style="cursor: pointer; color: white" (click)="translatePage('en')">
              <img src="../../../assets/images/flags/en.png" width="20px" />
            </button>   
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
