<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'All Contacts'" [items]="['Contacts']" [active_item]="'All Contacts'"></app-breadcrumb>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
                <app-contact></app-contact>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
