.background-image {
    background-image: url(./../../../assets/images/signin/signin.jpg);
    background-position: left;
    background-size: cover;
}

.transparent {
    background-color: transparent;
}

.border {
    background-color: white;
    border: 1px solid #ec289056;
    border-radius: 25px;
    padding: 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}