<section class="content" *ngIf="location">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Details'" [items]="['Location']" [active_item]="location? location.code + ' - ' + location.description: ''"></app-breadcrumb>
      </div>
      <!-- Your content goes here  -->
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <div class="contact-grid profile-image">
              <agm-map class="w-100-p h-400" [zoom]="zoom"
              id="map"
              [latitude]=latitude
              [longitude]=longitude>
                  <agm-marker [latitude]=markLatitude
                              [longitude]=markLongitude>
                  </agm-marker>
              </agm-map>
            </div>
          </div>
          <div class="card">
            <div class="header">
              <h2>{{ location? location.code: '' }} - {{ location? location.description: '' }}</h2>
            </div>
            <div class="tab-pane body active" id="about">
              <small class="text-muted">Status: </small>
              <p><span class="label shadow-style" [ngClass] = "{'l-bg-green': location.status ==='OPEN', 'l-bg-red': location.status ==='CLOSED'}">{{location.status | lowercase}}</span></p>
              <hr>
              <small class="text-muted">Address: </small>
              <p>{{location? location.street: ''}} {{location? location.houseNumber: ''}}, {{location? location.city: ''}} {{location? location.zip : ''}}</p>
              <hr>
              <small class="text-muted">Location Type: </small>
              <p>{{(location? location.locationType: '') | lowercase}}</p>
              <hr>
              <small class="text-muted">Is Main: </small>
              <p><mat-icon *ngIf="location.main" color="primary">done</mat-icon><mat-icon *ngIf="!location.main" color="warn">clear</mat-icon></p>
              <hr>
              <small class="text-muted">Logopedic Practice: </small>
              <p>{{location? location.practiceName: ''}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
    
          <div class="card">
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">account_box</mat-icon>
                  Rooms
                </ng-template>
                 <app-room [practiceLocation] = "location"></app-room>             
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </section>
  