<mat-select #select class="power-select" [panelClass]="largePanel ? 'panel-lg' : ''" [multiple]="multiple" [disabled]="disabled" [(value)]="value"
disableOptionCentering (selectionChange)="selectionChange()" (blur)="onBlur()" (openedChange)="openedChange($event)">
    <div fxLayout="column" fxLayoutAling="center center" class="container-options">
      <mat-radio-group *ngIf="multiple && !selectionModeOff"  [(ngModel)]="type" (change)="makeGroupedItems()"
        fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" >
          <mat-radio-button value="all">{{ALL}}</mat-radio-button>
          <mat-radio-button value="selected">{{SELECTED}}</mat-radio-button>
          <mat-radio-button value="unselected">{{UNSELECTED}}</mat-radio-button>
          
      </mat-radio-group>

      <mat-form-field *ngIf="search" class="search-field-form">
        <input  type="text"  matInput placeholder="{{SEARCH}}" [(ngModel)]="filter" (input)="makeGroupedItems()" >
      </mat-form-field>
      <mat-checkbox *ngIf="multiple && masterToggle" class="master-toggle" color="primary" (change)="$event ? masterToggleChange() : null"
                    [checked]="value && value.length && isAllSelected()"
                    [indeterminate]="value && value.length &&!isAllSelected()">{{SELECT_ALL}}
      </mat-checkbox>

  </div>
  <mat-select-trigger *ngIf="moreThanOneSelectedTrigger &&  value && value.length > 1">
    {{getFirstSelected(value[0]) + ' ' +  (AND) + ' ' +  (value.length - 1) + ' ' + (MORE) }}
  </mat-select-trigger>
  <mat-option *ngIf="none != null">{{none}}</mat-option>
  <mat-option *ngIf="employeeTask" [value] = "-1"> {{WITHOUT_USER}}</mat-option>
  <div *ngIf="!noTranslate">
  <mat-optgroup *ngFor="let letter of letters()"  [style.display]="letterExist(letter) ? '' : 'none' " [label]="letter">
      <mat-option  *ngFor="let item of groupedItems[letter]"
      [style.display]="(this.category(item) && this.searchItem(item)) ? '' : 'none' "  [value]="item[property]" >
          {{ item[_label] }}
      </mat-option>
  </mat-optgroup>
</div>
  <div *ngIf="noTranslate">
  <mat-optgroup *ngFor="let letter of letters()"  [style.display]="letterExist(letter) ? '' : 'none' " [label]="letter">
    <mat-option  *ngFor="let item of groupedItems[letter]"
    [style.display]="(this.category(item) && this.searchItem(item)) ? '' : 'none' "  [value]="item[property]" >
        {{ item[_label] }}
    </mat-option>
</mat-optgroup>
</div>
  
</mat-select>
