.power{
  cursor: pointer;
}

.container-options{
  margin-top: 20px;
  position: sticky;
}

.search-field-form{
    margin-left: 4%;
    margin-right: 2%;
}

.mat-select-content{
  min-width: 340px;
  overflow-x: auto;
}

.master-toggle{
  margin-left: 3.5%;
}

.panel-lg{
  min-height: 50vh;
}
