<div class="auth-container">
    <div class="row auth-main background-image">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section transparent">
        <div class="form-section">
          <div class="auth-wrapper border">
            <div class="text-center mb-5">
              <img width="160px" height="100px" src="assets/images/logo.png" alt="" />
            </div>
            <div class="text-center mb-5">
              <p class="text-muted text">{{ "SET_PASSWORD.WELCOME_INFO" | translate}}</p>
            </div>

            <div *ngIf="this.message !== '' " class="row">
              <p>{{ message | translate}}</p>
            </div>

            <form *ngIf="this.message === '' " class="validate-form"  [formGroup]="setPasswordForm">
                <div class="row">
                    <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field [ngClass]="{ 'text-danger': setPasswordForm.controls['token']}" class="example-full-width" appearance="outline">
                            <mat-label style="color: black">Token</mat-label>
                            <input matInput formControlName="token" id="token" type="text" autocomplete="off"
                              style="color: black !important" />
                            <mat-error class="mat-errorShow" *ngIf="
                                setPasswordForm.controls['token'].hasError('required') &&
                                setPasswordForm.get('token').touched
                              ">
                              {{ "SET_PASSWORD.TOKEN_REQUIRED" | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-3">
                        <mat-form-field [ngClass]="{
                            'valid-field':
                              setPasswordForm.controls['password'].dirty &&
                              setPasswordForm.controls['password'].valid
                          }" class="example-full-width" appearance="outline">
                          <mat-label style="color: black"> {{ "SET_PASSWORD.NEW_PASSWORD" | translate }} *</mat-label>
                          <input style="color: black !important" id="passwordInput" matInput formControlName="password" [type]="hide ? 'password' : 'text'" 
                            autocomplete="new-password" />
                            <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </a>
                          <mat-error *ngIf="
                              setPasswordForm.controls['password'].invalid &&
                              setPasswordForm.get('password').touched
                            ">
                            {{ "SET_PASSWORD.PASSWORD_INFO" | translate }}
                          </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field [ngClass]="{
                            'valid-field':
                              !setPasswordForm.hasError('passwordMatch') &&
                              setPasswordForm.get('confirmPassword').dirty 
                          }" class="example-full-width" appearance="outline">
                          <mat-label style="color: black">{{ "SET_PASSWORD.CONFIRM_PASSWORD" | translate }} </mat-label>
                          <input style="color: black !important" id="password" matInput formControlName="confirmPassword"
                          [errorStateMatcher]="matcher" type="password" autocomplete="new-password" />
                          <mat-error *ngIf="
                            setPasswordForm.controls['confirmPassword'].hasError('required') &&
                            setPasswordForm.get('confirmPassword').touched">
                              {{ "SET_PASSWORD.CONFIRM_PASSWORD_REQUIRED" | translate }}
                            </mat-error>
                          <mat-error *ngIf="setPasswordForm.hasError('passwordMatch')">
                            {{ "SET_PASSWORD.PASSWORDS_DONT_MATCH" | translate }}
                          </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                
              <div class="container-auth-form-btn">
                <div style="text-align:center">
                    <button mat-raised-button color="primary" class="auth-form-btn" *ngIf="!tokenExpired" mat-flat-button (click)="savePassword()"
                    [disabled]="setPasswordForm.invalid || disableButton">
                     {{ "SET_PASSWORD.SET_PASSWORD" | translate }}
                    </button>
                </div>
              </div>
            </form>

            <div *ngIf="this.message === ''" class="row">
                <div>
                  <ul>
                    <li [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('minlength') 
                    || setPasswordForm.controls['password'].hasError('maxlength') ? 'text-danger' : 'text-success'">
                      {{ "SET_PASSWORD.PASSWORD_INFO_MESSAGE_ONE" | translate }}
                      <mat-icon style="font-size: 16px">{{ setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('minlength') 
                        || setPasswordForm.controls['password'].hasError('maxlength') ? 'cancel' : 'check_circle' }}</mat-icon>
                    </li>
                    <li [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasCapitalCase') 
                    || setPasswordForm.controls['password'].hasError('hasLowerCase') ? 'text-danger' : 'text-success'">
                      {{ "SET_PASSWORD.PASSWORD_INFO_MESSAGE_TWO" | translate }}
                      <mat-icon style="font-size: 16px">{{ setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasCapitalCase') 
                        || setPasswordForm.controls['password'].hasError('hasLowerCase') ? 'cancel' : 'check_circle' }}</mat-icon>
                    </li>
                    <li [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasNumber') 
                    ? 'text-danger' : 'text-success'">
                      {{ "SET_PASSWORD.PASSWORD_INFO_MESSAGE_THREE" | translate }}
                      <mat-icon style="font-size: 16px">{{ setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasNumber') 
                        ? 'cancel' : 'check_circle' }}</mat-icon>
                    </li>
                    <li [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasSpecialCharacter') 
                     ? 'text-danger' : 'text-success'">
                      {{ "SET_PASSWORD.PASSWORD_INFO_MESSAGE_FOUR" | translate }}
                      <mat-icon style="font-size: 16px">{{ setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasSpecialCharacter') 
                        ? 'cancel' : 'check_circle' }}</mat-icon>
                    </li>
                    <li [ngClass]="setPasswordForm.controls['password'].hasError('required') || !setPasswordForm.controls['password'].hasError('umlautsSharpS') 
                    ? 'text-success' : 'text-danger'">
                      {{ "SET_PASSWORD.PASSWORD_INFO_MESSAGE_FIVE" | translate }}
                      <mat-icon style="font-size: 16px">{{ setPasswordForm.controls['password'].hasError('required') || !setPasswordForm.controls['password'].hasError('umlautsSharpS') 
                        ? 'check_circle' :'cancel' }}</mat-icon>
                    </li>
                    <li [ngClass]="setPasswordForm.controls['password'].hasError('required') || !setPasswordForm.controls['password'].hasError('hasSpace') 
                    ? 'text-success' : 'text-danger'">
                      {{ 'SET_PASSWORD.PASSWORD_INFO_MESSAGE_SIX' | translate}}
                      <mat-icon style="font-size: 16px">{{ setPasswordForm.controls['password'].hasError('required') || !setPasswordForm.controls['password'].hasError('hasSpace') 
                        ? 'check_circle' :'cancel' }}</mat-icon>
                    </li>
                  </ul>
                  <div class="mt-4">
                    <button class="btn btn-default" style="cursor: pointer; color: white" (click)="translatePage('de')">
                      <img src="../../../assets/images/flags/germany.jpg" width="20" />
                    </button>
                    <button class="btn btn-default" style="cursor: pointer; color: white" (click)="translatePage('en')">
                      <img src="../../../assets/images/flags/en.png" width="20" />
                    </button>   
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  